:root {
    --primary : linear-gradient(to bottom right, #f03e3e, #f25151);
    --secondary : #212529;
    --text : #d3d3d4;
    --background-color-main: #e9e9ea;
    --primary-color: #f03e3e;
    --primary-color-dark: #d83838;
    --primary-color-light: #f25151;
    --secondary-color: #212529;
    --secondary-color-dark: #1e2125;
    --secondary-color-light: #373b3e;
    --text-color: #d3d3d4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: var(--text);
}
#nav-bar {
    height: 10vh;
    display: flex;
    font-weight: 200;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
}
.nav-bar--left {
    border: 1px solid black;
}
.nav-bar--right ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.nav-bar--right ul li {
    padding: 1rem;
}
.nav-bar--right ul li a {
    color: var(--text-color);
    text-decoration-color: var(--primary-color-dark);
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
}
.nav-bar--right ul li a:hover {
    color: var(--primary-color-light);
    text-decoration-color: var(--primary-color-light);
}
#logout_btn {
    color: var(--text-color);
    padding: 0.6rem 1.4rem; 
    background-color: var(--primary-color);
    text-decoration: none;
    border-radius: 15px;
}


.hero {
    min-height: 90vh;
    background-image: var(--primary);
    display: flex;
    align-items: center;
}
.container {
    width: 100vw;
    display: grid;
    grid-template-columns: 1.8fr 1.2fr;
    gap: 1rem;
    padding: .5rem 1rem;
    text-transform: capitalize;
}

@media screen and (max-width: 990px) {
    .container {
        grid-template-columns: 1fr;
    }
}

.main-video, .video-playlist {
    width: 100%;
    height: 30rem;
}

.main-video .title {
    margin-top: 1rem;
}

.video-playlist .title {
    padding-left: 1rem;
}

.video-playlist > p {
    padding: 1rem;
    color: var(--secondary);
}

.video-playlist .videos{
    height: 70%;
    overflow-y: auto;
}

.video-playlist .videos::-webkit-scrollbar {
    width: .4rem;
    border-radius: .4rem;
    background-color: #0005;
}

.video-playlist .videos::-webkit-scrollbar-thumb {
    border-radius: .4rem;
    background-color: #fff;
}

.video-playlist .videos .video {
    position: relative;
    width: 100%;
    height: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 1rem;
    margin-top: .1rem;
    cursor: pointer;

    border-radius: .5rem;
}

.video-playlist .videos .video:hover {
    background-color: #0003;
}

.video-playlist .videos .video.active {
    background-color: #0003;
    color: var(--secondary);
}

.main-video iframe {
    width: 100%;
    border-radius: .5rem;
}

.video img {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    
    width: 1.5rem;
    height: 1.5rem;
    
    filter: invert(100%);
}

.video-playlist .videos .video.active img {
    filter: invert(100%) sepia(100%) saturate(2000%) hue-rotate(360deg);
}

.video p {
   margin-left: 2.5rem;
}

.video h3 {
    width: 23rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font: 100 1rem sans-serif;
    padding: 0 .5rem;
}